# {{ ansible_managed }}
data_dir = "/var/lib/vector"

[sources.internal_metrics]
type = "internal_metrics"

[sinks.prometheus]
type = "prometheus_exporter"
inputs = ["internal_metrics"]
address = "0.0.0.0:{{ vector_metrics_port | default(9598) }}"

{% if vector_api_enabled | default(false) %}
[api]
enabled = true
address = "127.0.0.1:8686"
{% endif %}