[defaults]
roles_path = ../
inventory = tests/inventory

remote_tmp = /tmp/ansible
#[defaults]
#host_key_checking = False
#inventory = /home/shcherbatykh/FOPS-38_17/17-05/Files/playbook/inventory/prod.yml